<% if @team %>
    <div>Your team:</div>
    <p><%= @team.name %></p>

    <h3 class="extra-margin-top">Invite a teammate</h3>
    <%= render 'invite_teammate_form' %>

<% else %>
    <div>Teams:</div>
    <ul>
        <% @teams.each do |team| %>
            <li><%= team.name %></li>
        <% end %>
    </ul>
    <%= link_to 'Create your own team', new_team_path %>
<% end %>
