<div id="main_area">
        <!-- Slider -->
        <div class="mentors-carousel-header">
            <h2 style='float: left;'><%= t('landing.mentors_block.block_name') %></h2>
            <li style='list-style: none; margin-top: 1%;'>
                <%= link_to I18n.t('landing.mentor_sign_up_button'), mentors_path , { class: 'btn btn-default btn-lg', style: 'float: right;' } %>
            </li>
        </div>
        <div class="row">
            <div class="col-xs-12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <div class="col-sm-8" id="carousel-bounding-box">
                        <div class="carousel slide" id="myCarousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                <!-- <img src="http://placehold.it/770x300&amp;text=one"> -->
                                <img src="https://pp.vk.me/c637626/v637626502/d515/ewYQV8fAYeI.jpg">
                                </div>

                                <div class="item" data-slide-number="1">
                                <img src="http://placehold.it/770x300&amp;text=two"></div>

                                <div class="item" data-slide-number="2">
                                <img src="http://placehold.it/770x300&amp;text=three"></div>

                                <div class="item" data-slide-number="3">
                                <img src="http://placehold.it/770x300&amp;text=four"></div>

                                <div class="item" data-slide-number="4">
                                <img src="http://placehold.it/770x300&amp;text=five"></div>

                                <div class="item" data-slide-number="5">
                                <img src="http://placehold.it/770x300&amp;text=six"></div>
                            </div><!-- Carousel nav -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            </div>
                    </div>

                    <div class="col-sm-4" id="carousel-text"></div>

                    <div id="slide-content" style="display: none;">
                        <div id="slide-content-0">
                            <h2>Mentor One</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ut sequi voluptates odit, soluta ex.</p>
                            <p class="sub-text">October 24 2016 - <a href="#">Read more</a></p>
                        </div>

                        <div id="slide-content-1">
                            <h2>Mentor Two</h2>
                            <p>Lorem Ipsum Dolor</p>
                            <p class="sub-text">October 24 2016 - <a href="#">Read more</a></p>
                        </div>

                        <div id="slide-content-2">
                            <h2>Mentor Three</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eius deleniti dolor placeat enim sint.</p>
                            <p class="sub-text">October 24 2016 - <a href="#">Read more</a></p>
                        </div>

                        <div id="slide-content-3">
                            <h2>Mentor Four</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis officia perspiciatis distinctio consequatur nostrum soluta.</p>
                            <p class="sub-text">October 24 2016 - <a href="#">Read more</a></p>
                        </div>

                        <div id="slide-content-4">
                            <h2>Mentor Five</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, enim culpa nisi suscipit tempora sint.</p>
                            <p class="sub-text">October 24 2016 - <a href="#">Read more</a></p>
                        </div>

                        <div id="slide-content-5">
                            <h2>Mentor Six</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut fugiat ea sint accusamus laboriosam!</p>
                            <p class="sub-text">October 24 2016 - <a href="#">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/Slider-->

        <div class="row hidden-xs" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets carousel-thumbnails-list" style="list-style-type: none; margin-top: 20px;">
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-0">
                        <!-- <img src="http://placehold.it/170x100&amp;text=one"> -->
                        <img src="https://pp.vk.me/c637626/v637626502/d515/ewYQV8fAYeI.jpg">
                        </a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&amp;text=two"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&amp;text=three"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&amp;text=four"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&amp;text=five"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&amp;text=six"></a>
                    </li>
                </ul>
        </div>
</div>
