<div class="container welcome-mentor-container" style='padding-top: 10%;'>
    <% if current_mentor.approved %>
        <%= render partial: 'approved_mentor', locals: { mentor: current_mentor } %>
    <% else %>
        <%= render partial: 'unapproved_mentor', locals: { mentor: current_mentor } %>
    <% end %>
</div>
