@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'toastr';

@import './landing-page';
@import './teams_list';
@import './countdown';
@import './carousel';
@import './sponsors-slider';


.img-small-round {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
}

.no-padding {
    padding: 0 !important;
}
