.agenda {
    font-size: 75%;

    .agenda-time {
        max-width: 240px;
    }

    .small-th {
        font-size: 65%;
    }

    .smaller-td {
        font-size: 80%;
        font-weight: 300;
    }
}
